@use "base/variables" as v;
@use "base/mixins" as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    // font-family: $fuente_secundario, cursive;
    // background-image: linear-gradient(45grad, $blaze2 40%, $blaze1 85%);
    background: radial-gradient(circle, $blaze1 50%, $blaze2 100%);
    // background-color: v.$blaze2;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    // background-color: v.$blaze2;

    .contenedor-check{
        display: flex;
        gap: 4rem;
    }

    .costos{
        max-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label{
            font-size: 2.4rem;
            color: v.$primario;
            margin-bottom: 1rem;
        }
        input{
            // background-color: transparent;
            background-color: v.$blanco;
            border-radius: 1rem;
            padding: 0.5rem;
            text-align: center;
            color: v.$blaze2;
            font-weight: v.$bold;
            font-size: 2rem;
        }
        // &.nombre_producto{
        //     flex-direction: row;
        //     label{
        //         margin-bottom: 0;
        //     }
        // }
    }
    .check{
        display: flex;
        gap: 1rem;
        label{
            font-size: 2rem;
            color: v.$blanco;
            margin-bottom: 1rem;
        }
        input{
            width: 2rem;
            height: 2rem;
        }
        input[type=checkbox]:checked+label{
            color: v.$plata;
            font-size: 2.4rem;
        }

    }
    
    .botones{
        width: 90%;
        @include m.minicel{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        input{
            @include m.boton(v.$blaze2, $blaze1);
            margin-bottom: 1rem;
        }
    }
    .promos{
        display: block;
        max-width: 60%;
    }
}

.cuotas{
    background-color: transparent;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: lighten(v.$plata, 10%);
}
.whatsapp{
    display: block;
    @include m.boton(v.$blaze2, v.$blaze1);
    max-width: 95%;
    font-size: 2.4rem;
    padding: 0.5rem;
}
.titulos{
    margin-top: 5rem;
}
h1{
    font-size: 3rem;
    color: v.$blanco;
    margin-bottom: 1rem;
}
h2{
    margin: 0;
    font-size: 2.6rem;
    color: v.$plata;
}
h3{
    font-size: 1.8rem;
}
h1, h2 {
    text-align: center;
}


.sombra{
    -webkit-box-shadow: 0px 0px 20px 7px rgba(186,189,194,1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(186,189,194,1);
    box-shadow: 0px 0px 20px 7px rgba(186,189,194,1);
    padding: 2rem;
    border-radius: 2rem;
}

.imgPreview{
    height: 12rem;
    border-radius: 25%;
}